{% extends "layout.html" %}

{% block content %}



<div class="row">
    <img class="contain" src={{ img_tichonet }} alt='Missing'>
</div>
<div class="row">
    
</div>
<div class="row">
    <div class="col-md-4">
        <h2 class="heb"></h2>
        <p class="heb">
            
        </p>
    </div>
    <div class="col-md-8">
        <h2 class="heb">על הפרויקט</h2>
        <p class="heb">
            שם: רון כדורי
            <br /><br />
            כיתה י'4
            <br /><br />
            בית ספר: תיכונט
            <br />
            מדעי הנתונים
            <br /><br />
            במהלך הפרויקט אחקור את מדדי התאונות במדינת ישראל בין שנת 2017 ל2018 ואנתח אותם.
            <br /><br />
            הפרויקט יתבסס על המרכיבים הטכנולוגיים הבאים:
            <br /><br />
            * שפת פייתון.
            <br />
            * ספריית Pandas.
            <br />
            * תשתית Flask לבניית שרת אינטרנט.


            <div class="row my-grid-borders">
                <table class="table table-striped heb">
                    <tbody>
                        <tr>
                            <td dir="rtl"><a class="btn btn-primary heb" href="https://docs.google.com/document/d/1K0oxvUDL2r0hodfCuH03Ad8IiaX4Ropt-lJ2hHBXO6Y/edit?usp=sharing" target="_blank">Go &raquo;</a></td>
                            <td dir="ltr">לינק למסמך האיפיון</td>

                        </tr>
                        <tr>
                            <td dir="rtl"><a class="btn btn-primary heb" href="https://github.com/RonKadouri/RonProject" target="_blank">Go &raquo;</a></td>
                            <td dir="ltr">לינק לפרויקט באתר GitHub</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </p>
    </div>
</div>

{% endblock %}
