{% extends "layout.html" %}


{% block content %}

<div class="jumbotron">
    <h1 class="heb">מדדי תאונות הדרכים לשנת 2018 עם נפגעים</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2 class="heb">נושא העבודה, תחום המחקר</h2>
        <p class="heb">
            תאונת דרכים היא תאונה שבה מעורב כלי רכב אחד או יותר שנועד לנסיעה על דרך סלולה או על דרך עפר.
            <br /><br />
            על פי נתוני ארגון הבריאות העולמי, בכל שנה 1.2 מיליון אנשים נהרגים וכ-20 עד 30 מיליון נפצעים בתאונות דרכים ברחבי העולם.
            <br /><br />
            העלות הכלכלית העולמית השנתית של תאונות הדרכים הוערכה בשנת 2003 ב-518 מיליארד דולר בשנה, ועלותן למשק הישראלי הוערכה בשנת 2019 בכ-17 מיליארד שקל בשנה.
            <br /><br />
            בעבודה זאת אחקור את כמות התאונות בישראל לשנת 2018 ואשווה אותה עם כמות התאונות לשנת 2017

        </p>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
        <br /><br /><br /><br /><br />
        <img class="contain" src={{ img_american_flag }} alt='Missing'>
    </div>
</div>

{% endblock %}
