{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div class="row my-grid-borders">
    <div class="col-md-2 my-grid-borders"><img class="contain" src={{ img_2017 }} alt='Missing'></div>
</div>
<div class="row my-grid-borders">
   
</div>
<div class="row my-grid-borders">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Field</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Num of column : 1</td>
                <td class="heb"> לא רלוונטי </td>
            </tr>
            <tr>
                <td>Num of column : 2</td>
                <td class="heb"> לא רלוונטי </td>
            </tr>
            <tr>
                <td>Num of column : 3</td>
                <td class="heb"> סוג דרך </td>
            </tr>
            <tr>
                <td>Num of column : 4</td>
                <td class="heb"> לא רלוונטי </td>
            </tr>
            <tr>
                <td>Num of column : 5</td>
                <td class="heb"> לא רלוונטי </td>
            </tr>
            <tr>
                <td>Num of column : 6</td>
                <td class="heb"> לא רלוונטי </td>
            </tr>
            <tr>
                <td>Num of column : 7</td>
                <td class="heb"> לא רלוונטי </td>
            </tr>
            <tr>
                <td>Num of column : 8</td>
                <td class="heb"> לא רלוונטי </td>
            </tr>
            <tr>
                <td>Num of column : 9</td>
                <td class="heb"> צומת עירונית </td>
            </tr>
            <tr>
                <td>Num of column : 10</td>
                <td class="heb"> לא רלוונטי </td>
            </tr>
            <tr>
                <td>Num of column : 11</td>
                <td class="heb"> לא רלוונטי </td>
            </tr>
            <tr>
                <td>Num of column : 12</td>
                <td class="heb"> מהירות בקילומטר לשעה </td>
            </tr>
            <tr>
                <td>Num of column : 13</td>
                <td class="heb"> לא רלוונטי </td>
            </tr>
            <tr>
                <td>Num of column : 14</td>
                <td class="heb"> לא רלוונטי </td>
            </tr>
            <tr>
                <td>Num of column : 15</td>
                <td class="heb"> שנה </td>
            </tr>
            <tr>
                <td>Num of column : 16</td>
                <td class="heb"> חודש </td>
            </tr>
            <tr>
                <td>Num of column : 17</td>
                <td class="heb"> שעה </td>
            </tr>
            <tr>
                <td>Num of column : 18</td>
                <td class="heb"> סוג יום </td>
            </tr>
            <tr>
                <td>Num of column : 19</td>
                <td class="heb"> לא רלוונטי </td>
            </tr>
            <tr>
                <td>Num of column : 20</td>
                <td class="heb"> יום בשבוע </td>
            </tr>
            <tr>
                <td>Num of column : 21</td>
                <td class="heb"> חומרת התאונה </td>
            </tr>
            <tr>
                <td>Num of column : 22</td>
                <td class="heb"> לא רלוונטי </td>
            </tr>
            <tr>
                <td>Num of column : 23</td>
                <td class="heb"> לא רלוונטי </td>
            </tr>
            <tr>
                <td>Num of column : 24</td>
                <td class="heb"> לא רלוונטי </td>
            </tr>
            <tr>
                <td>Num of column : 25</td>
                <td class="heb"> לא רלוונטי </td>
            </tr>
            <tr>
                <td>Num of column : 26</td>
                <td class="heb"> תקינות </td>
            </tr>
            <tr>
                <td>Num of column : 27</td>
                <td class="heb"> רוחב </td>
            </tr>
            <tr>
                <td>Num of column : 28</td>
                <td class="heb"> סימון של תמרור </td>
            </tr>
            <tr>
                <td>Num of column : 29</td>
                <td class="heb"> תאורה </td>
            </tr>
            <tr>
                <td>Num of column : 30</td>
                <td class="heb"> מזג האוויר </td>
            </tr>
            <tr>
                <td>Num of column : 31</td>
                <td class="heb"> לא רלוונטי </td>
            </tr>
            <tr>
                <td>Num of column : 32</td>
                <td class="heb"> לא רלוונטי </td>
            </tr>
            <tr>
                <td>Num of column : 33</td>
                <td class="heb"> מרחק בין העצם </td>
            </tr>
            <tr>
                <td>Num of column : 34</td>
                <td class="heb"> לא רלוונטי </td>
            </tr>
            <tr>
                <td>Num of column : 35</td>
                <td class="heb"> לא רלוונטי </td>
            </tr>
            <tr>
                <td>Num of column : 36</td>
                <td class="heb"> לא רלוונטי </td>
            </tr>
            <tr>
                <td>Num of column : 37</td>
                <td class="heb"> לא רלוונטי </td>
            </tr>
            <tr>
                <td>Num of column : 38</td>
                <td class="heb"> לא רלוונטי </td>
            </tr>
            <tr>
                <td>Num of column : 39</td>
                <td class="heb"> לא רלוונטי </td>
            </tr>
            <tr>
                <td>Num of column : 40</td>
                <td class="heb"> לא רלוונטי </td>
            </tr>
            <tr>
                <td>Num of column : 42</td>
                <td class="heb"> לא רלוונטי </td>
            </tr>
            <tr>
                <td>Num of column : 43</td>
                <td class="heb"> לא רלוונטי </td>
            </tr>
            <tr>
                <td>Num of column : 44</td>
                <td class="heb"> קורדינצית X </td>
            </tr>
            <tr>
                <td>Num of column : 45</td>
                <td class="heb"> קורדינצית Y </td>
            </tr>
        </tbody>
    </table>
</div>
        </tbody>
    </table>
</div>
<div class="row my-grid-borders">
    <div class="col-md-5 my-grid-borders">
        <form method="post">
            {{ form1.csrf_token }}
            <input class="btn btn-success" type="submit" name="action" value="Expand">
        </form>
    </div>
    <div class="col-md-5 my-grid-borders">
        <form method="post">
            {{ form2.csrf_token }}
            <input class="btn btn-danger" type="submit" name="action" value="Collapse">
        </form>
    </div>
</div>
<div class="row my-grid-borders">
    {{ raw_data_table | safe}}
</div>


{% endblock %}