{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

</div>

<div class="row my-grid-borders">
    <h2>Changes:</h2>
</div>
<div class="row my-grid-borders">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>03/05/20</td>
                <td>contact page fixed</td>
            </tr>
            <tr>
                <td>03/05/20</td>
                <td>name changed to this page to Log</td>
            </tr>
            <tr>
                <td>03/10/20</td>
                <td>home page got fixed</td>
            </tr>
        <td>03/10/20</td>
        <td>Project name got fixed</td>
        </tr>
        </tr>

        </tr>
        <tr>
            <td>03/10/20</td>
            <td>Copyright Fixed</td>
        </tr>
        <tr>
            <td>03/11/20</td>
            <td>Data page got fixed, some pics and names</td>
        </tr>
        <tr>
            <td>03/12/20</td>
            <td>Link got deletd in this page</td>
        </tr>


        </tbody>
    </table>
</div>



    {% endblock %}
